
  <h1><strong>Frequently Asked Questions </strong></h1>

<% @faqs.each do |faq| %>

      <p><strong><%= faq.question %></strong><p>
      <footer><cite><%= faq.answer%></cite></footer>
  
  <br>
<%end%>
