/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color:#fd7d0b;
  font-family:Courier}

.gCamp{
  background-color:#ede3d5;
}

.img-responsive {
  width: 100%;
}

h1{margin-bottom: 45px;
font-family:Courier }

p{font-family:Courier;
font-size:20px}

h2{
background:#92C4F0;
font-family: Courier}

.panel{
  font-family: Courier;
}

footer{
  font-family:Courier;
  text-align:justify;
  font-size: 20px
}

blockquote{
  border-left: 0px;
}

cite{
  font-family: Courier;
}
